<div id="homepage"  data-view="homepage" data-type='main'>
	
	<div class="background">
		<video data-view="video" poster='resources/img/homepage.jpg' loop muted >
			<source src="resources/videos/homepage-v3.mp4" type="video/mp4">
		</video>
	</div>	
	
	<div class="foreground flex-block">

		<section class="flex-block" id='login-section'>
			<div class="slogan flex-block flex-direction-column">
	    		<header>
			        <img src="resources/img/app-logos/logo-normal-transparente.png" alt='TeVeo!' />
	    		</header>
	    		<h1>TeVeo! mantiene al mundo al habla. Realiza videollamadas, comparte lo que quieras totalmente gratis.</br>¿Todavía no estás conectado?.</h1> 
	    		<div class='flex-block flex-x-content-center'>
	    			<a href="#" class="btn btn-large btn-action">Registrarme</a>
	    			<a href="#" class="btn btn-large btn-action">Saber más</a>
	    		</div>
    		</div>
    		<div class="form-box flex-block flex-direction-column flex-liquid-content">
				<div class="form-header">
				    <div class="form-header-left">
				        <h3>Login</h3>
				        <p>Utiliza este formulario para acceder a TeVeo! o usa tu perfil social</p>
				    </div>
				    <div class="form-header-right">
				        <span aria-hidden="true" class="fa fa-pencil"></span>
				    </div>
				</div>
				<div class="form-body">
				    <form role="form" action="" autocomplete="off" data-view='login'>
						<div class="form-group">
							<label class="form-label" for="form-nick"><span class="fa fa-user"></span></label>
							<input type="text" name="nick" placeholder="Nick..." class="formControl" id="form-nick" required>
						</div>
						<div class="form-group">
							<label class="form-label" for="form-password"><span class="fa fa-lock"></span></label>
							<input type="password" name="password" placeholder="password..." class="formControl" id="form-password" required>
						</div>
						<button type="submit" class="btn btn-medium btn-action">Login</button>
						<div class="form-links">
							<a href="#" class="launch-modal" data-modal-id="modal-privacy">Privacy Policy</a> - 
							<a href="#" class="launch-modal" data-modal-id="modal-faq">FAQ</a>
						</div>
					</form>
					<div class="social-auth flex-block" data-view='socialAuth'>
						<a href="#" data-action='facebookAuth' class="btn btn-small btn-facebook"><span class="fa fa-facebook"></span></a>
						<a href="#" data-action='googleplusauth' class="btn btn-small btn-googleplus"><span class="fa fa-google-plus"></span></a>

					</div>
				</div>
			</div>	

		</section>
	
	</div>
		
</div>
