<div data-view="dashboard" data-type='main'>

    <header role="heading" class="actionbar">
        <div class="nav-icon" id="navIcon" >
            <span class="fa fa-close fa-2x"></span>
        </div>
        <div class="title">
            <a class="logo" href="index.html"><img src="resources/img/logo.png" alt="TeVeo!"/></a>
        </div>
        <!-- Barra de Tareas -->
        <ul data-actionsMenu class="actions" role="menu" id="tasks">
            <!-- Inicio -->
            <li class="action" role="listitem" data-action="goHome">
                <a href="#" title="Volver a Inicio">
                    <span class="fa  fa-home"></span>
                </a>
            </li>
            <!-- Solicitudes de amistad -->
            <li class="action" role="listitem" data-action="">
                <a href="#" title="Solicitudes de amistad">
                    <span class="fa fa-user-plus"></span>
                </a> 
            </li>
            <!--Configuracion -->
            <li class="action" role="listitem" data-action="preferences">
                <a href="#" title="Preferencias">
                    <span class="fa  fa-gear"></span>
                </a>
            </li>
            <!--Agregar Contactos -->
            <li class="action" role="listitem" data-action="searchUsers">
                <a href="#" title="Buscar Amigos">
                    <span class="fa  fa-search-plus"></span>
                </a>
            </li>
            <!-- Notificaciones -->
            <li class="action" role="listitem" data-action="showNotifications">
                <a href="#" title="Ver Notificaciones">
                    <span class="fa fa-bell"></span>
                    <span class="badge" data-notifications></span>
                </a>
            </li>
            <!-- Logout -->
            <li class="action" role="listitem">
                <a href="#" title="Salir" data-action='overflow'><span class="fa fa-th"></span></a>
            </li>            
        </ul>

    </header>
        
    <main id="main" class="dashboard  wallpaper">
        
        <div class="body">
            <!-- side nav -->
            <aside data-view="panelMenu" data-type="html" class="sidenav animateView  slideOutLeft">
                <header class="sidenav-header">
                    <div class="user-info flex-block  flex-direction-row">
                        <div data-view="userImage" data-type="img" class="large cycle">
                            <img src="resources/img/wallpaper/CanisLupus.jpg" alt="imagen del usuarios">
                        </div>
                        <div>
                            <p>Sergio Sánchez Sánchez</p>
                            <p>Lorem Inpsum</p>
                        </div>
                    </div>
                    <div class="user-statistics flex-block  flex-direction-row">
                        <figure class="statistics">
                            <span class="fa fa-user-plus"></span>
                            <figcaption>25</figcaption>
                        </figure>
                        <figure class="statistics">
                            <span class="fa fa-phone"></span>
                            <figcaption>5</figcaption>
                        </figure>
                        <figure class="statistics">
                            <span class="fa fa-comments-o"></span>
                            <figcaption>25</figcaption>
                        </figure>
                    </div>
                    <a href="#" class="edit">
                        <span  class="fa fa-edit"></span>
                    </a>
                </header>
                <ul class="sidenav-menu" id="actions">
                    <li>
                        <a href="#" data-action="showAllContacts">Contactos</a>
                    </li>
                    <li>
                        <a href="#" data-action="showCalls">Llamadas</a>
                    </li>
                    <li>Grupos</li>
                </ul>
                <div id="viewPanelSideNav" class="sidenav-content">
                    
                </div>
            </aside>
            <section id="panelAction" class="tabs-container">
               
            </section>

        </div>
    </main>
        <!-- Dálogo de Alertas -->
        <div class="padding20" role="alertdialog" data-role="dialog" data-overlay="true" data-overlay-color="overlay" data-width="800px" id="alert" data-close-button="true">
            <h1 data-title></h1>
            <p data-text></p>
            <span class="dialog-close-button"></span>
        </div>
        <!-- Dálogo de Confirmación -->
        <div class="padding20" role="dialog" data-role="dialog" data-overlay="true" data-overlay-color="overlay" data-width="800px" id="confirm">
            <h1 data-title></h1>
            <div data-content>
                <div class="dataGrid">
                    <div class="row">
                        <div class="column column-12x x-center y-center">
                            <p data-text></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column column-12x x-end y-center">
                            <a href="#" data-action="success" class="button success">Aceptar</a>
                            <a href="#" data-action="cancel" class="button danger">Cancelar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>