<div class="loading" data-view="uploadpage" data-type='main'>
    <header>
        <div class="logo">
            <span class="fa fa-eye"></span>TeVeo!
        </div>
    </header>
    <section>
        <p data-view="title" data-type="text" class="animateView">Hola , estamos preparando algunas cosas</p>
    </section>
    <footer>
        <p data-view="copyright" data-type="text">
            <span class="fa fa-eye"></span>
            TeVeo! has been designed and developed by <strong>Sergio Sánchez Sánchez</strong>
        </p>
    </footer>
</div>