<div class="loading" data-view="uploadpage" data-type='main'>
    <div class="flex-block flex-block-full flex-direction-column">
        
        <header>
            <img src="resources/img/app-logos/logo-normal-transparente.png" alt='TeVeo!' />
        </header>
        <section data-view='content' >
            <p  class='animateView' data-view="title" data-type="text" data-animationin="fadeInDown" data-animationout="fadeOut"  >Hola , estamos preparando algunas cosas</p>
            <img data-view="loader" data-type="img" data-animationin="fadeInDown" data-animationout="fadeOut" src="resources/img/mainLoader.gif" alt="" />
        </section>
        <footer>
            <p data-view="copyright" data-type="text">
                <span class="fa fa-eye"></span>
                TeVeo! has been designed and developed by <strong>Sergio Sánchez Sánchez</strong>
            </p>
        </footer>

    </div>
    
</div>