<div data-template class="callAlertContainer" id="callAlertContainer">

	<div class="callAlert active">

		<figure>

			<h3>
				<span data-element data-name="type" data-type="class" class="fa"></span>
			</h3>

			<div class="imgContainer">
				<div class="img" data-element data-name="photo" data-type="background"></div>
			</div>
			<!-- Nombre del usuario llamador-->
			<figcaption data-element data-name="name" data-type="text"></figcaption>

			<div data-component="actions">
				<a href="#" class="btn btn--roundedCorner btn-verySmall btn-rejectCall" data-action="reject" title="Rechazar">
					<span class="fa fa-phone"></span>
				</a>
				<a href="#" class="btn btn--roundedCorner btn-verySmall btn-takeCall" data-action="answer" title="Coger">
					<span class="fa fa-phone"></span>
				</a>                         
			</div>

		</figure>

	</div>
	
</div>