<div class="container" data-component="contacts" data-type='main'>
    <form action="" class="search-form  search-form-large" data-component="searchContacts">
        <input type="search" role="search" name="search" data-action="searchContacts" placeholder="introduce búsqueda..."/>
        <label for="search"><span class="fa fa-search"></span></label>
        <span data-component="microphone"></span>
    </form>
    <div class="contact-list-container">
        <ul class="contact-list" data-component="container">
            <li class="contact" data-component="contact" data-type='template' data-id>
                <!--Foto del usuario-->
                <a href="#" class="photo" data-component="photo" data-type="background"></a>
               
                <div class="content">
                    <div class="info flex-block flex-direction-column">
                        <span class="status" data-component="status" data-type="data"></span>
                        <p class="name singleLine" data-mark data-component="name" data-type="text"></p>
                        <p class="sentece singleLine">Lorem ipsum consequetur Lorem ipsum consequetur</p>
                    </div>
                    <div class="actions">
                        <a class="action2" data-action="videocall" title="Iniciar Videollamada" href="#"><span class="fa fa-video-camera"></span></a>
                        <a class="action2" data-action="conversation" title="Iniciar Conversación" href="#"><span class="fa fa fa-weixin"></span></a>
                        <a class="action2" data-action="call" title="Iniciar llamada de voz" href="#"><span class="fa fa-phone"></span></a>
                    </div>
                </div>
            </li>               
        </ul>
    </div>
</div>
