<div class="container" data-view="contacts" data-type='main'>
    <form action="" class="search-form  y-large" data-view="searchContacts" autocomplete="off">
        <input type="search" role="search" name="search" data-action="searchContacts" placeholder="introduce búsqueda..." required/>
        <button type="submit"><span class="fa fa-search"></span></button>
        <span data-view="microphone" class="fa"></span>
    </form>
    <div class="contact-list-container">
        <ul class="contact-list" data-view="container">
            <li class="contact animateView" data-view="contact" data-type='template' data-animationin='slideInLeft' data-animationout='slideOutLeft'>
                <!--Foto del usuario-->
                <a href="#" class="photo" data-view="photo" data-type="background"></a>
               
                <div class="content">
                    <div class="info flex-block flex-direction-column">
                        <span class="status" data-view="status" data-type="data"></span>
                        <p class="name singleLine" data-mark data-view="contactName" data-type="text"></p>
                        <p class="location singleLine">
                            <a href="#"><span class="fa fa-map-marker"></span></a>
                            <span data-view="town" data-type="text"></span>
                        </p>
                        <p class="sentece singleLine">Lorem ipsum consequetur Lorem ipsum consequetur</p>
                    </div>
                    <div class="actions" data-view='id' data-type="hidden">
                        <a class="action2" data-action="videocall" title="Iniciar Videollamada" href="#"><span class="fa fa-video-camera"></span></a>
                        <a class="action2" data-action="conversation" title="Iniciar Conversación" href="#"><span class="fa fa fa-weixin"></span></a>
                        <a class="action2" data-action="call" title="Iniciar llamada de voz" href="#"><span class="fa fa-phone"></span></a>
                    </div>
                </div>
            </li>               
        </ul>
    </div>
</div>
