<div class='overlay' data-view="facebookLoader" data-type='main'>

	<div class='overlay-content overlay-content-normal '>
		<div class='flex-block flex-block-full flex-direction-column' data-view='container'>
			<img src="resources/img/social/facebook_logo.png" alt='conectándo con facebook' width="400" />
			<p class='animateView' data-view='info' data-type='text' data-animationin="fadeIn" data-animationout="fadeOut"></p>
			<img src="resources/img/social/loaderFacebook.GIF" alt='Conectándo .... ' class='animateView' data-view='gif' data-type='img' data-animationin="fadeIn" data-animationout="fadeOut">

		</div>		
	</div>

</div>