<div class='overlay' data-view="requestFile" data-type='main'>

	<div class='overlay-content overlay-content-normal'>

        <div class="flex-block flex-block-full flex-direction-column" data-view='container'>
            <div data-view='filePreviewContainer'>
                <div class="preloader-content" data-view='preloader' data-animationin="fadeIn" data-animationout="fadeOut">
                    <div data-role="preloader" data-type="ring"></div>
                </div>
                <div class='image-container animateView' data-view='imagePreview' data-type='template' data-animationin="flipInY" data-animationout="flipOutY" >
                    <img class='animateView' src="" data-view='src' data-type='img'/>
                </div>
                <audio controls preload="false" data-view='audioPreview' data-type='template' data-animationin="fadeIn" data-animationout="fadeOut" data-radius="40" data-skin="purple" data-circle-audio-player>
                    <source data-view='src' data-type='audio' src='' >
                    Your browser does not support the audio element.
                </audio>
                <video controls preload="false" data-view='videoPreview' data-type='template' data-animationin="fadeIn" data-animationout="fadeOut">
                    <source data-view='src' data-type='video' src='' >
                    Your browser does not support the video element.
                </video>
               
            </div>

            <!--Info List para mostrar datos del usuario -->
            <ul class="infoList" data-view='infoFile'>
                <li>
                    <span class="fa fa-file-image-o"></span>
                    <span class='singleLine' data-view="fileName" data-type="text"></span>
                </li>
                <li>
                    <span class="fa fa-file-image-o"></span>
                    <span data-view="size" data-type="text"></span>
                </li>
                <li>
                    <span class="fa fa-file-image-o"></span>
                    <span data-view="type" data-type="text"></span>
                </li>
            </ul>

            <div class="actions" data-view="id" data-type="hidden" >
                <a href="#" class="btn btn-normal btn-action" data-action='success'>Aceptar</a>
                <a href="#" class="btn btn-normal btn-action" data-action='cancel'>Cancelar</a>
            </div>

        </div>
	</div>
</div>