<div class='overlay' data-view="googlePlusLoader" data-type='main'>

	<div class='overlay-content overlay-content-normal '>
		<div class='flex-block flex-block-full flex-direction-column' data-view='container'>
			<img src="resources/img/social/google_plus_logo.jpg" alt='conectándo con Google Plus' width="400" />
			<p class='animateView' data-view='info' data-type='img' data-animationin="fadeIn" data-animationout="fadeOut"></p>
			<img src="resources/img/social/googleplus-loader.GIF" alt='Conectándo .... ' class='animateView' data-view='gif' data-type='img' data-animationin="fadeIn" data-animationout="fadeOut">

		</div>		
	</div>

</div>