<div class="container" data-view="metro" data-type='main'>
	<div class="tile bg-red fg-white" data-role="tile">
        <div class="tile-content iconic">
            <span class="icon mif-cogs"></span>
        </div>
    </div>

    <div class="tile bg-cyan fg-white" data-role="tile">
        <div class="tile-content iconic">
            <span class="icon mif-envelop"></span>
            <span class="tile-badge bg-darkRed">5</span>
            <span class="tile-label">Mail</span>
        </div>
    </div>

    <div class="tile-wide bg-orange fg-white" data-role="tile">
        <div class="tile-content iconic">
            <span class="icon mif-cloud"></span>
            <span class="tile-label">Cloud service</span>
        </div>
    </div>

    <div class="tile tile-wide fg-darkViolet" data-role="tile" data-effect="slideUp" >
        
        <div class="tile-content" data-view='sportNews'>
        
            <div class="live-slide" data-view="news" data-type='template'>
                <div class="image-container image-format-fill">
                    <div class="frame">
                        <img src='' data-view='poster' data-type='img'/>
                    </div>
                </div>
                <p class='tile-label' data-view='title' data-type='text'></p>
            </div>

        </div>
        
    </div>


    <div class="tile tile-wide fg-darkViolet" data-role="tile" data-effect="slideUp" >
        
        <div class="tile-content" data-view='techNews'>
        
            <div class="live-slide" data-view="news" data-type='template'>
                <div class="image-container image-format-fill">
                    <div class="frame">
                        <img src='' data-view='poster' data-type='img'/>
                    </div>
                </div>
                <p class='tile-label' data-view='title' data-type='text'></p>
            </div>

        </div>
        
    </div>
                
</div>