<div class="container" data-view="metro" data-type='main'>
	<div class="tile bg-red fg-white" data-role="tile">
        <div class="tile-content iconic">
            <span class="icon mif-cogs"></span>
        </div>
    </div>

    <div class="tile bg-cyan fg-white" data-role="tile">
        <div class="tile-content iconic">
            <span class="icon mif-envelop"></span>
            <span class="tile-badge bg-darkRed">5</span>
            <span class="tile-label">Mail</span>
        </div>
    </div>

    <div class="tile-wide bg-orange fg-white" data-role="tile">
        <div class="tile-content iconic">
            <span class="icon mif-cloud"></span>
            <span class="tile-label">Cloud service</span>
        </div>
    </div>
</div>