<div class="viewContainer" data-view='notifications' data-type="main">
    <h2 class="view-tittle">Notificaciones</h2>
    <section class="containerNotifications" data-view="container">
        <div class="notification mix template animateView" data-notification data-view='notification' data-type='template'>
            <div class="icon" data-view="icon" data-type="background"></div>
            <div class="data flex-block flex-direction-column flex-x-content-center">
                <h3 class="title" data-view="title" data-type="text"></h3>
                <p class="content" data-view="body" data-type="text"></p>
                <span class="time" data-view="timestamp" data-type="text"></span>
                <span class="action fa fa-paper-plane "></span>
            </div>
        </div>
    </section>
</div>
