<div data-component='notifications' data-type="main">
    <h2 class="panel-action-tittle">Notificaciones</h2>
    <article class="pendingNotifications" >
        <header>
            <h3 data-component="title">Notificaciones no leídas <span data-component="countNotifications">()</span></h3>
            <div class="actions" data-component="toOrderNotifications">
                <a href="#" class="active" data-action="shortDesc">Más Recientes</a>
                <a href="#" data-action="shortAsc">Más Antiguas</a>
            </div>
        </header>
        <section class="containerNotifications" data-component="container">
            <div class="notification mix template" data-notification data-component='notification' data-type='template'>
                <div class="icon">
                    <img src="#" data-component="icon" data-type="img" alt="icon" />
                </div>
                <div class="data">
                    <h3 class="title" data-component="title" data-type="text"></h3>
                    <p class="body" data-component="body" data-type="text"></p>
                    <span class="time" data-component="timestamp" data-type="text"></span>
                </div>
            </div>
        
        </section>
    </article>
</div>
