<div class="viewContainer" data-view="metro" data-type='main'>
    <h2 class="view-tittle">Mensajes Nuevos</h2>
    <div class="flex-block flex-content-wrap newMessagesContainer" data-view='container'>
        <article class="message animateView" data-view='message' data-type='template' data-animationin='zoomInUp' data-animationout='zoomOutDown' data-action="restoreConversation">
            <header>
                <div class="photo">
                    <img  data-view='photo' data-type='img' src="#" width="80px" height="80px"/>
                </div>
                <hgroup>
                    <h2 class="conversation"  data-view='convName' data-type='text'></h2>
                    <h3 class="user-name"  data-view='userName' data-type='text'></h3>
                </hgroup>
            
            </header>
            <section>
                <p class="text"  data-view='text' data-type='text'></p>
                <span class="date"  data-view='date' data-type='text'></span>
            </section>
        </article>
    </div>

</div>
