<div class='overlay' data-view="requestFile" data-type='main'>

	<div class='overlay-content overlay-content-normal'>
		<div class='overlay-content-header'>
            <h3 class='title' data-view='title' data-type='text'></h3>
            <a href="#" data-action='close' class='close'><span class="fa fa-close"></span></a>
        </div>
		<div class='overlay-content-body flex-block flex-direction-column'>
			<section class='dropzone-wrapper'>
				<div class="dropzone-area" data-view='dropzone' dropzone="copy">
					<form class="dropzone">
						<div class="dropzone-message">
			    			Arrastra aquí los ficheros.<br>
			    			<span class="note">(This is just a demo dropzone. Selected files are <strong>not</strong> actually uploaded.)</span>
			  			</div>
			  		</form>
			  	</div>
			<section>
			<input type="file" multiple="multiple" class="dz-hidden-input" style="visibility: hidden; position: absolute; top: 0px; left: 0px; height: 0px; width: 0px;">
		</div>
	</div>

</div>
