<div data-template>
	<h2 class="panel-action-tittle">Datos de la llamada</h2>
	<table summary="Resumen llamada" class="fadeInDown resume">
		<caption data-component="type"></caption>
		<tr>
			<th scope="col" colspan="2" data-component="conversation_name"></th>
		</tr>
		<tr>
			<th scope='row'>Inicio de la llamada</th>
			<td data-component='calling_start'></td>
		</tr>
		<tr>
			<th scope='row'>Duración de llamada</th>
			<td data-component="calling_duration"></td>
		</tr>
		<tr>
			<th scope="row">Nombre del llamador</th>
			<td data-component="caller_name"></td>
		</tr>
		<tr>
			<th scope="row">Nombre del llamado</th>
			<td data-component="called_name"></td>
		</tr>
		<tr>
			<th scope="row">Mensajes enviados</th>
			<td data-component="messages_sended"></td>
		</tr>
		<tr>
			<th scope="row">Mensajes Recibidos</th>
			<td data-component="messages_recieved"></td>
		</tr>
		<tr>
			<th scope="row">Ficheros enviados</th>
			<td data-component="file_sended"></td>
		</tr>
		<tr>
			<th scope="row">Ficheros Recibidos</th>
			<td data-component="file_received"></td>
		</tr>
	</table>
</div>