<div class="view-container" data-view="searchs" data-type='main'>
    <!-- Parcial para Buscar Usuarios -->
    <h2 class="view-tittle">Buscar Usuarios</h2>
    
    <div id="containerSearchUsers"  class="flex-block flex-direction-column flex-liquid-content" data-view="container">
        <h3 class="help  y-normal" data-view="help" data-type="text">Utilice la opción sugerir usuarios para conocer gente de tu ciudad</h3>
        <div class="actions  flex-block  flex-direction-row">
            <form action="" class="search-form x-large y-medium" data-view="searchForm" autocomplete="off">
                <input type="search" role="search" name="search" id="searchUsers" placeholder="introduce nick..." required autofocus/>
                <button type="submit"><span class="fa fa-search"></span></button>
                <span data-view="microphone" class="fa"></span>
            </form>
            <a href="#" data-action="suggest_users" title="Conocer Gente de tu ciudad"   class="btn  btn-large  btn-action  invert">Conocer Gente</a>
            <a href="#" data-action="busquedaAvanzada" title="Búsqueda Avanzada" class="btn  btn-veryLarge  btn-action  invert">Búsqueda Avanzada</a>
        </div>
        <!-- Lista de Usuarios Encontrados -->
        <ul id="profileCardContainer" class="flex-block  flex-direction-row  flex-content-wrap" data-view="users_found">
            <!-- Plantilla de cada perfil de usuario -->
            <li class="template animateView" data-view="userProfile" data-type="template">
                <div class="profileCard">
                    <div class="profileCard-bg" data-view="profileBack" data-type="background"></div>
                    <div class="profileCard-content">
                        <a href="#" class="profileCard-avatar">
                            <img src="" alt="" data-view='avatar' data-type="img" />
                        </a>
                        <div class="profileCard-actions">
                            <a href="#" data-view="id" data-type="hidden" data-action="to_ask_for_friendship" class="btn btn-medium btn-action">
                                <span class="fa fa-plus-circle fa-2x"></span>&nbsp;Agregar
                            </a>
                        </div>
                        <div class="profileCard-userFields">
                            <p class="profileCard-name singleLine" data-name data-view="name" data-type="text"></p>
                            <p class="profileCard-location" data-location data-view="location" data-type="text"></p>
                            <p class="profileCard-desc">Lorem ipsum consequetur Lorem ipsum consequetur Lorem ipsum consequetur Lorem ipsum consequetur </p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="contentToAskForFriendship  template  animateView" data-view="ToAskForFriendship" data-type="template">
            <div class="content" data-view="content" data-type="template">
                <div class="column">
                    <img src="" alt="" data-view="photo" data-type="img" src="" />
                </div>
                <div class="column">
                    <!--Info List para mostrar datos del usuario -->
                    <ul class="infoList">
                        <li><span class="fa fa-user"></span><span data-view="name" data-type="text"></span></li>
                        <li><span class="fa fa-user"></span><span data-view="age" data-type="text"></span></li>
                        <li><span class="fa fa-map-marker"></span><span data-view="location" data-type="text"></span></li>
                    </ul>
                    <!-- Cuadro de ayuda -->
                    <h3 class="help y-normal singleLine" data-view="help" data-type="text"></h3>
                    <form action="#" method="post">
                        <textarea rows="3" class="message" data-view="textarea" data-type="text"></textarea>
                        <div class="actions" data-view="id" data-type="hidden" >
                            <button class="btn btn-normal  btn-action" data-action='sendApplication'>Enviar</button>
                            <button class="btn btn-normal  btn-action" data-action='cancel'>Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
